.Home{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    background:  #FAFAFA;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home{
        height: 100%;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home{
        height: 100%;
    }
}

.Home-search{
    display: flex;
    width: 215px;
    padding: 4px 72px 4px 71px;
    justify-content: center;
    align-items: center;

    border-radius: 3px;
    border: 1px solid var(--Border-Color, #DBDBDB);
    background: #EFEFEF;
    margin-left: 257px;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-search{
        margin-left: 0;
        padding: 0;
        width: 100px;
    }
}

.Home-main{
    display: flex;
    width: 935px;
    height: 1080px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    margin: 0 auto;
}

/* width가 450px 이상 750px 미만일 때 Home-main 위치 변경 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-main{
        width: 450px;
        align-items: center;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-main{
        width: 250px;
        height: 600px;
        align-items: center;
    }
}

.Home-Nav{
    display: flex;
    width: 100%;
    height: 53px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-bottom: 1px solid #DBDBDB;
    background: white;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-Nav{
        border-top: 1px solid #DBDBDB;
        height:30px;
    }
}


.Home-Nav-position{
    display: flex;
    width: 935px;
    flex-direction: row;
}
/* width가 450px 이상 750px 미만일 때 변경 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-Nav-position{
        width: 450px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-Nav-position{
        width: 250px;
        align-items: center;
        justify-content: space-between;
    }
}

.Home-Nav-buttonPos{
    justify-content:flex-end;
}

.Home-nav-myImage{
    position: relative;
    border-radius: 22px; 
    width: 22px;
    height: 22px;
    overflow: hidden;
}

.Home-nav-myImage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-story{
    display: flex;
    width: 612px;
    flex-shrink: 0;
    background:white;
    margin-top: 140px;
    margin-right: 28px;
    border: 1px solid #EFEFEF;
}
/* width가 450px 이상 750px 미만일 때 Home-story의  margin 변경 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story{
        width: 450px;
        margin-right: 0px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story{
        width: 250px;
        margin-right: 0px;
        margin-top: 20px;
    }
}


.Home-story-header{
    display: flex;
    padding: 9px 0px 9px 16px;
    align-items: flex-start;
    justify-items: center;
    gap: 10px;
    height: 40px;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-header{
        height:30px;
    }
}

/* width가 450px 미만일 때 헤더 서클 크기 변경*/
@media (max-width: 449px){
    .Home-story-header div img{
        width: 32px;
        height: 32px
    }
}

.Home-header-other2{
    position: absolute;
    border-radius: 22px; 
    width: 32px;
    height: 32px;
    overflow: hidden;
    padding: 5px;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-header-other2{
        border-radius: 12px; 
        width: 22px;
        height: 22px;
    }
}

.Home-header-other2 img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-header-other3{
    position: relative;
    border-radius: 22px; 
    width: 32px;
    height: 32px;
    overflow: hidden;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-header-other3{
        border-radius: 12px; 
        width: 22px;
        height: 22px;
    }
}

.Home-header-more{
    padding-left: 403px;
    padding-top: 5px;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-header-more{
        padding-left: 250px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-header-more{
        padding-left: 50px;
        padding-top: 0px;
    }
}

.Home-story-post{
    display: flex;
    height: 612px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-post{
        width: 450px;
        height: 450px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-post{
        width: 250px;
        height: 250px;
    }
}

.Home-story-icons{
    display: flex;
    flex-direction: row;
    padding: 6px 16px 8px 16px;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    width: 580px;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-icons{
        width: 418px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-icons{
        width: 218px;
        padding-bottom: 0;
    }
}

.Home-story-icons span{
    display: flex;
    gap: 16px;
}

.Home-story-icons span button{
    display: flex;
    gap: 16px;
    padding: 0;
    width: 24px;
    height: 26px;
    border: none;
    background: white;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-icons span button{
        gap: 0;
        width: 12px;
        height: 14px;
    }
}

.Home-story-icons-like{
    width: 24px;
    height: 26px;
}

.Home-story-icons-likeOn{
    width: 25px;
    height: 25px;
}

.Home-story-like{
    display: flex;
    flex-direction: row;
    width: 580px;
    height: 18px;
    padding: 0px 16px;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 5px;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-like{
        width: 418px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-like{
        width: 218px;
        height: 10px;
    }
}

/* width가 450px 미만일 때 포스트의 좋아요 개수 표시의 글자 크기 변경 */
@media (max-width: 449px){
    .Home-story-like span{
        font-size: 10px;
    }
}

.Home-story-commentList{
    display: flex;
    width: 580px;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    min-height: 88px;
    margin: 0;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-commentList{
        width: 418px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-commentList{
        width: 224px;
        padding-right: 0;
    }
}

.Home-story-commentList div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 44px;
}

.Home-story-commentList div div{
    display: flex;
    gap: 26px
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-commentList div div{
        gap: 10px
    }
}

/* width가 450px 미만일 때 댓글의 아이디와 댓글 내용 크기 변경*/
@media (max-width: 449px){
    .Home-story-commentList div div span{
        font-size: 10px;
    }
}

.Home-story-comment-like{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-story-comment-like button{
    flex-shrink: 0;
    border: none;
    background: white;
}

.Home-story-comment-like button img {
    width: 14px;
    height: 14px;
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-comment-like button img{
        width: 12px;
        height: 12px;
    }
}

/* width가 450px 미만일 때 각 댓글마다의 좋아요 갯수 크기 변경 */
@media (max-width: 449px){
    .Home-story-comment-like span{
        font-size: 10px;
    }
}

.Home-story-comment{
    display: flex;
    width: 580px;
    padding: 6px 16px;
    align-items: center;
    gap: 10px;
    min-height: 52px;
    border-top: 1px solid #EFEFEF;
}
/* width가 450px 이상 750px 미만일 때 */
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-comment{
        width: 420px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-comment{
        width: 220px;
        min-height: 40px;
    }
}


.Home-story-comment-details {
    display: flex;
    flex-direction: row;
}

.Home-story-comment-details div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

/* width가 450px 미만일 때 이모티콘 버튼의 크기 변경 */
@media (max-width: 449px){
    .Home-story-comment-details div img{
        width: 12px;
        height: 14px;
    }
}

.Home-comment-writing{
    width: 480px;
    height: 40px;
    border: none;
}
@media (min-width: 450px) and (max-width: 750px){
    .Home-comment-writing{
        width: 340px;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-comment-writing{
        width: 160px;
        height: 30px;
        font-size: 10px;
    }
}

.Home-story-comment-details button{
    border: none;
    background: white;
    color: #0095F6;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    padding-left: 15px;
    padding-right: 10px;
}
@media (min-width: 450px) and (max-width: 750px){
    .Home-story-comment-details button{
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 30px;
        align-items: center;
    }
}
/* width가 450px 미만일 때 */
@media (max-width: 449px){
    .Home-story-comment-details button{
        display: flex;
        flex-direction: row;
        padding: 0;
        width: 30px;
        align-items: center;
        font-size: 10px;
    }
}

.Home-secondary{
    display: flex;
    width: 293px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    gap: 24px;
    padding-top: 45px;
}

.Home-secondary div {
    height: 56px;
    align-items: flex-start;
    gap:24px;
}

.Home-secondary-myImage{
    position: relative;
    border-radius: 56px; 
    width: 56px;
    height: 56px;
    overflow: hidden;
}

.Home-secondary-myImage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Home-secondary div span{
    color: #000;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 138.462% */
    text-transform: lowercase;
}