.Profile{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-size{
    padding-top: 23px;
    padding-bottom: 44px;
}

.profile-left{
    display: flex;
    padding: 0px 101px 0px 71px;
    justify-content: center;
    align-items: center;
    height: 150px;
}

.profile-myImage{
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 150px; 
    overflow: hidden;
}

.profile-myImage img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-myInfo{
    width: 613px;
    padding: 14px 0px;
    align-items: flex-start;
    padding: 14px 0px;
}

.profile-myInfo-state{
    flex-direction: column;
    align-items: flex-start;
}

.profile-myInfo div button {
    width: 90px;
}